[user]
	email = patrick@muepatrick.dev
	name = Patrick Müller
	signingkey = 02737092E40AF895
[core]
	editor = nvim
	pager = delta
[commit]
	gpgsign = true
[pager]
	branch = false
	stash = false
[credential]
	helper = store
[alias]
	# Info
	s = status
	b = branch
	ba = branch -a
	bc = branch --show-current
	co = checkout
	com = !git checkout $(git main-branch)
	cob = checkout -b
	cos = !git branch | fzf | xargs --no-run-if-empty git checkout
	cosa = !git branch -a | fzf | xargs --no-run-if-empty git checkout
	cosc = !git log --oneline | fzf | cut -d ' ' -f 1 | xargs --no-run-if-empty git checkout
	cospr = !GH_PAGER="" gh pr list | fzf | cut -d'   ' -f1 | xargs --no-run-if-empty -i{} gh pr checkout {}
	l = !git --no-pager log -4 HEAD
	last = !git --no-pager log -4 HEAD
	shows = !git log --oneline | fzf | cut -d ' ' -f 1 | xargs --no-run-if-empty git show 
	bs = bisect
	bss = bisect start
	bsr = bisect reset
	bsg = bisect good
	bsb = bisect bad
	# tree = log --oneline --graph --decorate --all --color
	tree = log --branches --remotes --tags --graph --oneline --decorate --color
	dfh = !git --no-pager diff HEAD --name-status
	dh = !git diff HEAD
	dfm = !git --no-pager diff $(git main-branch) --name-status
	dm = !git diff $(git main-branch)
	main-branch = !git symbolic-ref refs/remotes/origin/HEAD | cut -d'/' -f4
	# Commiting
	a = add
	ap = add -p
	af = !git ls-files -m -o --exclude-standard | fzf -m --print0 | xargs --no-run-if-empty -0 -o git add
	apf = !git ls-files -m -o --exclude-standard | fzf -m --print0 | xargs --no-run-if-empty -0 -o git add -p
	ua = restore --staged
	rbm = rebase $(git main-branch)
	c = commit
	cm = commit -m
	ca = commit --amend
	dis = restore
	# Stash
	stu = stash -u
	sta = stash apply
	stpop = stash pop
	stl = stash list
	# Up-/Downloading
	upush = !git push --set-upstream origin $(git branch --show-current)
[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	side-by-side = true
[interactive]
	diffFilter = delta --line-numbers --color-only
